.container{
    width: 30%;
    border: solid 2px black;
    margin-top: 50px;
    margin-left: 100px;
}

.box-1 {
    display: flex;
    justify-content:space-around;
    margin-left: 30px;
    
}

p{
    align-self: center;
}

.user{
    font-size: 20px;
}



button {
    margin-top: 100px;
    color: black;
    background-color:#ffee00;
    border: 2px solid black;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 3px 3px black;
    align-self: center;
}

.filler {
    margin-left: 47px;
}

#likes {
    margin-right: 5px;
}

